* {
	font-family: serif;
}

body>* {
	margin-top: 1rem;
	margin-left: 1rem;
}

main {
	display: flex
}

main>* {
	min-width: 50ch;
	margin: 5px
}

pre {
	font-family: monospace;
	height: 300px;
	max-width: 70ch;
	overflow: scroll;
}

#prev {
	max-height: 300px
}

#map {
	width: 900px;
	height: 800px;
}
