* {
	font-family: serif;
}

body>* {
	margin-top: 1rem;
	margin-left: 1rem;
}

main {
	display: flex
}

main>* {
	margin-right: 1rem;
	min-width: 50ch;
	max-width: 80ch;
}

pre {
	font-family: monospace;
}
