* {
	font-family: serif;
  font-size: 1.2rem;
}

main {
	display: flex
}

header {
  margin-bottom: 1rem;
}

main>* {
	min-width: 50ch;
	margin: 5px
}

#kml-display {
	font-family: monospace;
	height: 300px;
	width: 50ch;
	overflow: scroll;
}

#control-panel>form>* {
  margin-bottom: 1rem;
}

#prev {
	max-height: 300px
}

#map {
	width: 900px;
	height: 800px;
  margin: auto
}
