* {
  font-family: serif;
  font-size: 1.2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center
}

header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main>* {
  min-width: 50ch;
  margin: 5px
}

#control-panel {
  display: flex;
  align-items: flex-start;
}

#control-panel>* {
  margin: .5rem
}

#query-form>* {
  margin-bottom: 1rem;
}

#main-section {
  display: flex;
  flex-direction: row;
}

#map {
  width: 1200px;
  height: 700px;
  margin: auto
}

#output {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 1rem;
}

#output>span {
  font-weight: bold
}

#prev {
  max-height: 550px;
  overflow: auto
}
