* {
	font-family: serif;
}

body {
	max-width: 80ch;
}

body>* {
	margin-top: 1rem;
	margin-left: 1rem;
}

button {
	margin-left: 1rem;
}

#queryInput {
	height: 2rem;
	min-width: 20rem;
}

#kml-display {
	font-family: monospace;
}
