* {
	font-family: serif;
  font-size: 1.2rem;
}

main {
	display: flex;
  flex-direction: column;
  align-items: center
}

header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main>* {
	min-width: 50ch;
	margin: 5px
}

#control-panel>form>* {
  margin-bottom: 1rem;
}

#map {
	width: 1500px;
	height: 700px;
  margin: auto
}

#bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center
}

#output {
  display: flex;
  align-items: flex-start;
}

#download-links {
  display: flex;
  align-items: center
}

#download-links>a {
  margin: 1rem;
}
