<!DOCTYPE html>
<html>

<head>
	<title>Jraph Form</title>
	<link rel="stylesheet" href="static/style.css">
	<!-- <meta http-equiv="refresh" content="1"> -->
</head>

<body>

	<h1> Jraph KML Creation Tool </h1>

	<span>Enter a comma delimited list of ids e.g. 1,2,3</span>

	<form method="POST" id="queryForm">
		<input id="queryInput" type="text" name="node_id" value={{ previous_query or "169177" }} />
		<button type="submit">Submit Node Query</button>
	</form>

	<br>

	<h3>Query</h3>
	<pre id="previousQuery">{{ previous_query }}</pre>
	<br>
	<h3>Output</h3>
	<pre id="kml-display">
{{ output }}
	</pre>

	<a href="/query?node_id={{ previous_query }}"><button id="download">Link to Output Kml</button></a>

</body>

</html>
