<!DOCTYPE html>
<html>

<head>
	<title>Jraph Form</title>
	<link rel="stylesheet" href="static/style.css">
	<!-- <meta http-equiv="refresh" content="1"> -->
</head>

<body>

	<h1> Jraph KML Creation Tool </h1>

	<span>Enter a comma delimited list of ids e.g. 1,2,3</span>

	<input id="queryInput" type="text">
	<button id="querySubmit">Submit Node Query</button>
	<br>

	<h3>Previous</h3>
	<ol id="prev"></ol>
	<br>

	<h3>Output</h3>
	<pre id="kml-display">No output yet</pre>
	<button id="download">Download KML</button>

	<script>
		const displayQuery = (query) => {
			const newSpan = document.createElement('li')
			newSpan.textContent = query
			document.querySelector('#prev').appendChild(newSpan)
		}

		document.querySelector('#querySubmit').addEventListener('click', async () => {
			const query = document.querySelector('#queryInput').value
			// TODO regex check here
			const res = await fetch(`/query?node_id=${query}`)
			document.querySelector('#kml-display').textContent = await res.text()
			displayQuery(query)
		})
	</script>

</body>

</html>
